<mat-dialog-title style="width: 100%;">
  <mat-toolbar>
    <span class="w-100">{{GetDay()}}</span>
    <button mat-mini-fab color="warn" (click)="Close()">
        <mat-icon mat-list-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</mat-dialog-title>
<mat-dialog-content style="height: 100%;">
  <mat-dialog-content>
    <button mat-flat-button color="primary" class="w-100" (click)="AddMeal()">
      <mat-icon mat-list-icon>add</mat-icon>
    </button>
  </mat-dialog-content>
  <mat-dialog-content>
    <table mat-table [dataSource]="dataSource" class="w-100" *ngIf="!loading">
      <ng-container matColumnDef="type">
        <mat-cell *matCellDef="let element; let mealIndex = index;">
          <mat-form-field name="type" id="type" floatLabel="never">
            <mat-label>{{ 'week.dialogs.days.type' | translate }}</mat-label>
            <mat-select [(ngModel)]="day.meals[mealIndex].type" name="type" required>
              <mat-option *ngFor="let type of mealTypes" [value]="type">
                {{ 'enums.MealTypes.'+type | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="recipe">
        <mat-cell *matCellDef="let element; let recipeIndex = index;">
          <mat-form-field name="recipe" id="recipe" floatLabel="never">
            <mat-label>{{ 'week.dialogs.days.recipes' | translate:'{count:1}' }}</mat-label>
            <input matInput type="text" name="recipe" [matAutocomplete]="recipeAutoComplete" [formControl]="recipeControls[recipeIndex]" required>
            <mat-autocomplete #recipeAutoComplete="matAutocomplete" (optionSelected)="ChangeRecipe(recipeIndex, $event.option.value)" [displayWith]="DisplayRecipe">
              <mat-option *ngFor="let recipe of recipeFilteredOptions[recipeIndex] | async" [value]="recipe">
                {{recipe.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="people">
        <mat-cell *matCellDef="let element; let i = index;">
          <span>{{ 'week.dialogs.days.number' | translate }}: {{day.meals[i].numberOfPeople}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="buttons">
        <mat-cell *matCellDef="let element; let i = index;">
          <button mat-icon-button color="primary" (click)="Plus(i, 1)">
            <mat-icon mat-list-icon>add</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="Plus(i, -1)">
            <mat-icon mat-list-icon>remove</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="price">
        <mat-cell *matCellDef="let element; let i = index;">
          <span>{{ day.meals[i].price | number:'1.0-2' }}€</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-cell *matCellDef="let element; let i = index;">
          <button mat-flat-button color="warn" (click)="RemoveItem(i)">
            <mat-icon mat-list-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </mat-dialog-content>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="Validate()" [disabled]="!IsValid()">{{ 'week.dialogs.days.validate' | translate }}</button>
</mat-dialog-actions>
