<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="tab cocotte header">
    <div class="cell center">
      <div class="content">
        <div class="tab">
          <div class="cell center">
            <img class="cocotte icon logo" alt="Cocotte"/>
          </div>
          <div class="cell center">
            <h1 class="cocotte text" (click)="GoToHome()">Cocotte</h1>
          </div>
          <div class="cell center">
            <img class="cocotte icon logo" alt="Cocotte"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <select #langSelect (change)="ChangeLanguage(langSelect.value)" class="cocotte input m-r-20">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
  </div>
</div>
