<mat-dialog-title>
  <mat-toolbar color="accent">
    <input matInput [(ngModel)]="recipe.name" type="text" required>
    <button mat-mini-fab color="warn" (click)="Close()">
        <mat-icon mat-list-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</mat-dialog-title>
<mat-dialog-content style="height: 100%;">
  <mat-dialog-content>
    <mat-label for="type">Type: </mat-label>
    <mat-form-field name="type" id="type" >
      <mat-select [(ngModel)]="recipe.type" required>
        <mat-option *ngFor="let type of recipeTypes" [value]="type">
          {{ 'enums.RecipeType.'+type | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-label for="seasons">Saisons: </mat-label>
    <mat-form-field name="seasons" id="seasons" >
      <mat-select [(ngModel)]="recipe.seasons" multiple required>
        <mat-option *ngFor="let season of seasons" [value]="season">
          {{ 'enums.Season.'+season | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content>
    <span>{{ timesCooked }}</span>
  </mat-dialog-content>
  <mat-dialog-content *ngIf="recipe.lastCooked != null">
    <span>{{ recipe.lastCooked }}</span>
  </mat-dialog-content>
  <mat-dialog-content>
    <span>{{ 'week.dialogs.recipes.ingredients' | translate:"{count:2}" }}:</span>
  </mat-dialog-content>
  <mat-dialog-content>
    <button mat-flat-button color="primary" class="w-100" (click)="AddIngredient()">
      <mat-icon mat-list-icon>add</mat-icon>
    </button>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name" >
        <mat-cell *matCellDef="let element; let i = index;">
          <mat-label for="name">{{ 'week.dialogs.recipes.ingredients' | translate:"{count:1}" }}: </mat-label>
          <mat-form-field name="name" id="name" >
            <mat-select [(ngModel)]="recipe.ingredients[i]" [compareWith]="ObjectComparisonFunction" (selectionChange)="ChangeIngredient(i, $event.value)" [disabled]="loading" required>
              <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient">
                {{ingredient.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <mat-cell *matCellDef="let element; let i = index">
          <mat-label for="quantity">{{ 'week.dialogs.recipes.quantities' | translate }}: </mat-label>
          <mat-form-field name="quantity" id="quantity" >
            <mat-select [(ngModel)]="recipe.ingredients[i].selectedQuantity" [disabled]="recipe.ingredients[i].name == null" required>
              <mat-option *ngFor="let quantity of recipe.ingredients[i].quantities" [value]="quantity">
                {{quantity}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-cell *matCellDef="let element; let i = index">
          <button mat-flat-button color="warn" class="w-50" (click)="RemoveIngredient(i)">
            <mat-icon mat-list-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-dialog-content>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="Validate()" [disabled]="!IsValid()">{{ 'week.dialogs.recipes.validate' | translate }}</button>
</mat-dialog-actions>
