<mat-dialog-title>
  <mat-toolbar color="accent">
    <input matInput [(ngModel)]="recipe.name" type="text" required>
    <button mat-mini-fab color="warn" (click)="Close()">
        <mat-icon mat-list-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</mat-dialog-title>
<mat-dialog-content style="height: 100%;">
  <mat-dialog-content>
    <mat-label for="type">{{ "week.dialogs.recipes.type" | translate }}: </mat-label>
    <mat-form-field name="type" id="type" >
      <mat-select [(ngModel)]="recipe.type" required>
        <mat-option *ngFor="let type of recipeTypes" [value]="type">
          {{ 'enums.RecipeTypes.'+type | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-label for="seasons">{{ "week.dialogs.recipes.seasons" | translate }}: </mat-label>
    <mat-form-field name="seasons" id="seasons" >
      <mat-select [(ngModel)]="recipe.bestSeasons" multiple required>
        <mat-option *ngFor="let season of seasons" [value]="season">
          {{ 'enums.Season.'+season | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content>
    <span>{{ timesCooked }}</span>
  </mat-dialog-content>
  <mat-dialog-content *ngIf="recipe.lastCooked != null">
    <span>{{ lastCooked }}</span>
  </mat-dialog-content>
  <mat-dialog-content>
    <span>{{ 'week.dialogs.recipes.ingredients' | translate:"{count:2}" }}:</span>
  </mat-dialog-content>
  <mat-dialog-content>
    <button mat-flat-button color="primary" class="w-100" (click)="AddIngredient()">
      <mat-icon mat-list-icon>add</mat-icon>
    </button>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name" >
        <mat-cell *matCellDef="let element; let i = index;">
          <mat-form-field name="name" id="name" floatLabel="never">
            <input matInput type="text" [matAutocomplete]="ingredientAutoComplete" [(ngModel)]="recipe.ingredients[i].ingredient" [disabled]="loading" placeholder="{{ 'week.dialogs.recipes.ingredients' | translate:'{count:1}' }}">
            <mat-autocomplete #ingredientAutoComplete="matAutocomplete" (optionSelected)="ChangeIngredient(i, $event.option.value)" [displayWith]="DisplayIngredient">
              <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient">
                {{ingredient.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <mat-cell *matCellDef="let element; let i = index">
          <mat-form-field name="quantity" id="quantity" floatLabel="never">
            <input matInput [(ngModel)]="recipe.ingredients[i].quantity" type="number" placeholder="{{ 'week.dialogs.recipes.quantity' | translate }}" required>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="unit">
        <mat-cell *matCellDef="let element; let i = index">
          <mat-form-field name="unit" id="unit" floatLabel="never">
            <mat-select [(ngModel)]="recipe.ingredients[i].unit" placeholder="{{ 'week.dialogs.recipes.unit' | translate }}" required>
              <mat-option *ngFor="let unit of ingredientUnits" [value]="unit">
                {{ 'enums.IngredientUnits.'+unit+".full" | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-cell *matCellDef="let element; let i = index">
          <button mat-flat-button color="warn" class="w-50" (click)="RemoveIngredient(i)">
            <mat-icon mat-list-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-dialog-content>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="Validate()" [disabled]="!IsValid()">{{ 'week.dialogs.recipes.validate' | translate }}</button>
</mat-dialog-actions>
