<pull-to-refresh [autoDismiss]="false"></pull-to-refresh>
<div class="content" role="main">
  <section class="text-center">
    <div class="container">
      <mat-tab-group headerPosition="above" [selectedIndex]="2" (selectedTabChange)="onTabClick($event)">
        <!-- Ingredients -->
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="cocotte icon ingredient"></i>
            {{"week.ingredients" | translate}}
          </ng-template>
          <div *ngIf="!loading">
            <ng-container>
              <button mat-flat-button color="primary" class="w-100" (click)="OpenIngredientMenu(null)">
                <mat-icon mat-list-icon>add</mat-icon>
              </button>
            </ng-container>
            <mat-table [dataSource]="dataSourceIngredients">
                <ng-container matColumnDef="position">
                  <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                  <mat-cell *matCellDef="let element; index as i;">{{i}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef>{{ 'week.name' | translate }}</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="basePrice">
                  <mat-header-cell *matHeaderCellDef>{{ 'week.price' | translate }}</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.basePrice}}€</mat-cell>
                </ng-container>

                <ng-container matColumnDef="baseQuantity">
                  <mat-header-cell *matHeaderCellDef>{{ 'week.quantity' | translate }}</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.baseQuantity}} {{ element.unit.mainValue }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="modify">
                  <mat-header-cell *matHeaderCellDef>{{ 'week.modify' | translate }}</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <button mat-flat-button color="accent" (click)="OpenIngredientMenu(element)">
                      <mat-icon mat-list-icon>edit</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <mat-header-cell *matHeaderCellDef>{{ 'week.remove' | translate }}</mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index;">
                    <button mat-flat-button  color="warn" (click)="RemoveItem(i)">
                      <mat-icon mat-list-icon>delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedIngredientColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedIngredientColumns;"></mat-row>
            </mat-table>
          </div>
        </mat-tab>
        <!-- ./Ingredients -->
          <!-- Recipes -->
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="cocotte icon recipe"></i>
            {{"week.recipes" | translate}}
          </ng-template>
          <div *ngIf="!loading">
            <ng-container>
              <button mat-flat-button color="primary" class="w-100" (click)="OpenRecipeMenu(null)">
                <mat-icon mat-list-icon>add</mat-icon>
              </button>
            </ng-container>
            <mat-table [dataSource]="dataSourceRecipes">
              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                <mat-cell *matCellDef="let element; index as i;">{{i}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>{{ 'week.name' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef>{{ 'week.type' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ 'enums.RecipeTypes.'+element.type | translate }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="timesCooked">
                <mat-header-cell *matHeaderCellDef>{{ 'week.timesCooked' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.timesCooked}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef>{{ 'week.price' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.price | number}}€</mat-cell>
              </ng-container>

              <ng-container matColumnDef="modify">
                <mat-header-cell *matHeaderCellDef>{{ 'week.modify' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-flat-button color="accent" (click)="OpenRecipeMenu(element)">
                    <mat-icon mat-list-icon>edit</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef>{{ 'week.remove' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index;">
                  <button mat-flat-button color="warn" (click)="RemoveItem(i)">
                    <mat-icon mat-list-icon>delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedRecipeColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedRecipeColumns;"></mat-row>
            </mat-table>
          </div>
        </mat-tab>
        <!-- ./Recipes -->
          <!-- Week -->
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="cocotte icon week"></i>
            {{"week.myWeek" | translate}}
          </ng-template>
          <div *ngIf="!loading">
            <ng-container>
              <button mat-flat-button color="accent" class="w-90" (click)="GenerateWeek()">
                <mat-icon mat-list-icon>autorenew</mat-icon>
              </button>
              <button mat-flat-button color="primary" class="w-10" (click)="OpenWeekIngredientsMenu()" [disabled]="dataSourceDay == undefined || dataSourceDay == null || dataSourceDay.data.length == 0">
                <mat-icon mat-list-icon>list</mat-icon>
              </button>
            </ng-container>

            <mat-table [dataSource]="dataSourceDay">
              <ng-container matColumnDef="date">
                <mat-cell *matCellDef="let element" class="day-header">
                  <mat-expansion-panel hideToggle class="day-header w-100">
                    <mat-expansion-panel-header>
                      <mat-panel-title class="day-header">
                        {{ GetDay(element.date) }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-table [dataSource]="element.meals" (click)="OpenDayMenu(element)" class="pointer">
                      <ng-container matColumnDef="type">
                        <mat-cell *matCellDef="let subElement">{{ subElement.type }}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="number">
                        <mat-cell *matCellDef="let subElement">{{subElement.numberOfPeople}}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="name">
                        <mat-cell *matCellDef="let subElement">{{subElement.recipe.name}}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="price">
                        <mat-cell *matCellDef="let subElement">{{subElement.recipe.price * subElement.numberOfPeople | number}}€</mat-cell>
                      </ng-container>
                      <mat-row *matRowDef="let row; columns: displayedMealsColumns;"></mat-row>
                    </mat-table>
                  </mat-expansion-panel>
                </mat-cell>
              </ng-container>

              <mat-row *matRowDef="let row; columns: displayedDayColumns;"></mat-row>
            </mat-table>
          </div>
        </mat-tab>
        <!-- ./Week -->
      </mat-tab-group>
    </div>
  </section>
  <footer class="text-center">
  </footer>
</div>
