.content{
   background-color: #FFF2CC;
}

section{
  margin-top: 160px;
}

.btn-content{
  background-color: #f7dc8d;
  max-width:170px;
  margin-top: 15px;
}

.btn-footer{
  background-color: #F4B183;
}

img{
  width:25%;
  height: 25%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 30px;
}

table.mat-table {
  display: table;
  width: 100%;
  background-color: #f7dc8d;
}

.mat-header-row .mat-header-cell {
  background-color: #F4B183;
  font-size: medium;
  color: black;
  font-weight: bold;
}
