<div class="content" role="main" style="margin-top:100px;">

    <section class="text-center">
        <div class="container">
            <p>
                <button type="button" (click)="GoToWeek()" class="btn btn-content btn-lg"><img class="cocotte icon week" alt="Cocotte"/> <b>Semaine</b></button>
            </p>
            <p>
                <button type="button" (click)="GoToSettings()" class="btn btn-content btn-lg"><img class="cocotte icon settings" alt="Cocotte"/> <b>Paramètres</b></button>
            </p>
        </div>
    </section>
    <footer class="text-center">
        <button type="button" class="btn btn-footer btn-lg" (click)="Logout()"><b>Quitter</b></button>
    </footer>
</div>
