<div class="content" role="main" style="margin-top:100px;">

    <section class="text-center">
        <div class="container">
            <p>
                <button type="button" (click)="GoToWeek()" class="btn btn-content btn-lg">
                  <mat-icon mat-list-icon>calendar_today</mat-icon>
                  <b> {{ 'home.week' | translate }}</b>
                </button>
            </p>
            <p>
                <button type="button" (click)="GoToSettings()" class="btn btn-content btn-lg">
                  <mat-icon mat-list-icon>settings</mat-icon>
                  <b> {{ 'home.settings' | translate }}</b>
                </button>
            </p>
            <p>
                <a href="https://drive.google.com/u/0/uc?export=download&confirm=XReP&id=1EEuC6onI89NuvlR0xn4BYxi3IV6NuwiC" target="blank">
                  <mat-icon mat-list-icon>android</mat-icon>
                  <b> {{ 'home.download' | translate }}</b>
                </a>
            </p>
        </div>
    </section>
    <footer class="text-center">
        <button type="button" class="btn btn-footer btn-lg" (click)="Logout()">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
        </button>
    </footer>
</div>
