<h1 mat-dialog-title style="width: 100%;">
  <mat-toolbar>
    <input matInput [(ngModel)]="ingredient.name" type="text" required>
    <button mat-icon-button (click)="Close()" class="cocotte button exit">
        <mat-icon mat-list-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h1>
<div mat-dialog-content style="height: 100%;">
  <div mat-dialog-content>
    <mat-label for="basePrice">Prix de base: </mat-label>
    <mat-form-field name="basePrice" id="basePrice">
      <input matInput [(ngModel)]="ingredient.basePrice" type="number" required>
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <mat-label for="basePrice">Quantité de base: </mat-label>
    <mat-form-field name="baseQuantity" id="baseQuantity">
      <input matInput [(ngModel)]="ingredient.baseQuantity" type="number" required>
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <mat-label for="unit">Unité: </mat-label>
    <mat-form-field name="unit" id="unit" >
      <mat-select [(ngModel)]="ingredient.unit" required>
        <mat-option *ngFor="let unit of units" [value]="unit">
          {{Ingredients.GetFullUnit(unit)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <mat-label for="type">Type: </mat-label>
    <mat-form-field name="type" id="type" >
      <mat-select [(ngModel)]="ingredient.type" required>
        <mat-option *ngFor="let type of types" [value]="type">
          {{Ingredients.GetType(type)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <span>Quantités: </span>
  </div>
  <div mat-dialog-content>
    <button mat-button class="cocotte button add w-100" (click)="AddQuantity()"><i class="cocotte icon add"></i></button>
  </div>
  <div mat-dialog-content>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="quantity" >
        <td mat-cell *matCellDef="let element; let i = index" class="quantity">
          <mat-form-field>
            <input matInput [(ngModel)]="ingredient.quantities[i]" type="number">
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete" >
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-button class="cocotte button delete" (click)="RemoveQuantity(i)"><i class="cocotte icon delete"></i></button>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="Validate()" [disabled]="!IsValid()" class="cocotte button add">Valider</button>
</div>
