<mat-dialog-title>
  <mat-toolbar color="accent">
    <input matInput [(ngModel)]="ingredient.name" type="text" required>
    <button mat-mini-fab color="warn" (click)="Close()">
        <mat-icon mat-list-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</mat-dialog-title>
<mat-dialog-content style="height: 100%;">
  <mat-dialog-content>
    <mat-label for="price">{{ 'week.dialogs.ingredients.price' | translate }}: </mat-label>
    <mat-form-field name="price" id="price">
      <input matInput [(ngModel)]="ingredient.price.basePrice" type="number" min="0" required>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-label for="unit">{{ 'week.dialogs.ingredients.priceUnit' | translate }}: </mat-label>
    <mat-form-field name="priceUnit" id="priceUnit" >
      <mat-select [(ngModel)]="ingredient.priceUnit" required>
        <mat-option *ngFor="let priceUnit of priceUnits" [value]="priceUnit">
          {{ 'enums.IngredientPriceUnits.'+priceUnit | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-label for="categories">{{ 'week.dialogs.ingredients.categories' | translate }}: </mat-label>
    <mat-form-field name="categories" id="categories" >
      <mat-select [(ngModel)]="ingredient.categories" multiple required>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ 'enums.IngredientCategories.'+category | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="Validate()" [disabled]="!IsValid()">{{ 'week.dialogs.ingredients.validate' | translate }}</button>
</mat-dialog-actions>
