.fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.cocotte.header {
  background-color: #FEB768;
}

/* Icons */
.cocotte.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.cocotte.icon.logo {
  content: url('assets/img/cocotte.png');
  width: initial !important;
  height: initial !important;
}

.cocotte.icon.checkmark {
  content: url('assets/img/checkmark.png');
}

.cocotte.icon.ios {
  content: url('assets/img/ios.png');
}

.cocotte.icon.day {
  content: url('assets/img/day.png');
}

.cocotte.icon.ingredient {
  content: url('assets/img/ingredient.png');
}

.cocotte.icon.list {
  content: url('assets/img/list.png');
}

.cocotte.icon.nope {
  content: url('assets/img/nope.png');
}

.cocotte.icon.people {
  content: url('assets/img/people.png');
}

.cocotte.icon.recipe {
  content: url('assets/img/recipe.png');
}

.cocotte.icon.restaurant {
  content: url('assets/img/restaurant.png');
}
.cocotte.icon.week {
  content: url('assets/img/week.png');
}

.backdropBackground {
  filter: blur(20px);
  background-color: #666666;
  opacity: 0.7 !important;
}

.w-100 {
  width: 100%;
}


.w-90 {
  width: 90%;
}

.w-50 {
  width: 50%;
}

.w-10 {
  width: 10%;
}

.m-r-20 {
  margin-right: 20px;
}

.m-0 {
  margin: 0px;
}

.p-0 {
  padding: 0px;
}

.modalBox  >  mat-dialog-container {
  background-color: #FFF2CC;
  padding-top: 0px !important;
}
