mat-sidenav {
  /* margin: 16px; */
  width: 200px;
  /* border-right: none; */
  /* border-radius: 10px; */
  padding: 16px;
  /* text-align: center; */
}

/* mat-sidenav-container {
  height: calc(100vh - 65px);
} */


mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
}
